﻿@{
    Page.Title = "Escriba el título aquí";
    //Layout = "Su página de diseño se incluye aquí";
    var idModel = Convert.ToInt32(Request["id"]);
    var Veterinaria = new Mascota();
    
    using (var db = new VeterinariaContainer())
    {
        Veterinaria = db.MascotaSet.SingleOrDefault(x => x.IdMascota == idModel);
        
        if (IsPost && Veterinaria != null)
        {
            Veterinaria.Nombre = Request.Form["nombre"];
            Veterinaria.Color = Request.Form["color"];
            Veterinaria.Edad = Request.Form["edad"];

            if (db.ChangeTracker.HasChanges()) { 
                db.SaveChanges();
            }
        }
    }
}

<form method="post">

    <fieldset>
        <legend>Iniciar sesión en su cuenta</legend>
        <ol>
            <li class="email">
                <label for="email">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="@Veterinaria.Nombre" />
            </li>
            <li class="email">
                <label for="email">Edad</label>
                <input type="text" id="edad" name="edad" value="@Veterinaria.Edad" />
            </li>
            <li class="email">
                <label for="email">Color</label>
                <input type="text" id="color" name="color" value="@Veterinaria.Color" />
            </li>
        </ol>
        <input type="submit" value="Iniciar sesión" />
    </fieldset>
</form>