﻿@{
    Page.Title = "Escriba el título aquí";
    //Layout = "Su página de diseño se incluye aquí";

    if (IsPost)  // evento que llama o ejecuta
    {

        Mascota model = new Mascota
            {
                Nombre = Request.Form["nombre"],
                Edad = Request.Form["edad"],
                Color = Request.Form["color"]
            };

        using (var db = new VeterinariaContainer())    //conexion bd
        {

            db.MascotaSet.Add(model);// opeacion dependiendo la necesidad en este caso insertar
            db.SaveChanges(); //guarda cambios
        }
    }
   
}

<form method="post">
    
    <fieldset>
        <legend>Iniciar sesión en su cuenta</legend>
        <ol>
            <li class="email">
                <label for="email">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="" />
            </li>
            <li class="email">
                <label for="email">Edad</label>
                <input type="text" id="edad" name="edad" value="" />
            </li>
            <li class="email">
                <label for="email">Color</label>
                <input type="text" id="color" name="color" value="" />
            </li>
        </ol>
        <input type="submit" value="Iniciar sesión" />
    </fieldset>
</form>