﻿@{
    Page.Title = "Escriba el título aquí";
    //Layout = "Su página de diseño se incluye aquí";
    var lis = new List<Mascota>();
    using (var db = new VeterinariaContainer())
    {
        lis = db.MascotaSet.ToList();
    }
}

<ul>
    @foreach(Mascota model in lis)
    {
        <li>
            <div>Nombre: @model.Nombre</div>
            <div>Color: @model.Color</div>
            @Html.Raw(string.Format("<a href=actualizar?id={0}>Modificar</a>", model.IdMascota))
            <br/>
        </li>
    }
</ul>