﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Centro Clinico +kotas Pet Shop</title>

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/owl.carousel.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="http://cdn.fanitive.com/artist/petcol/favicon.png" />
        <link rel="stylesheet" href="Content/chocolat.css" type="text/css" media="screen" charset="utf-8" />
        

        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/owl.carousel.js"></script>
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
           });
        });
        </script>
    </head>
    <body>
        <div class="banner-background" id="to-top">
            <div class="container">
                <div class="nav-back">
                    <div class="navigation">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="Default.cshtml">INICIO <span class="sr-only">(current)</span></a></li>
                                    <li><a href="quienes.cshtml">QUIENES SOMOS</a></li>
                                    <li> <a href="servicios.cshtml">SERVICIOS</a></li>
                                    <li> <a href="contactenos.cshtml">VISITENOS</a></li>
                                    <li> <a class="active" href="login.cshtml">LOGIN</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                    <div class="logo">
                        <h1><a href="index.cshtml">CENTRO CLINICO +<span class="hlf">KOTAS PETSHOP</span></a></h1>
                    </div>
                    <div class="banner-slider">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div align="center">
                                        <img src="./images/n.jpg" alt="dog" class="img-responsive">
                                    </div>
                                    <div class="carousel-caption ch">
                                    </div>
                                </div>
                                <div class="item">
                                    <div align="center">
                                        <img src="./images/01.jpg" alt="cat" class="img-responsive">
                                    </div>
                                    <div class="carousel-caption ch">
                                    </div>
                                </div>
                                <div class="item">
                                    <div align="center">
                                        <img src="./images/03.jpg" alt="wolfdog" class="img-responsive">
                                        <div class="carousel-caption ch">
                                        </div>
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      @RenderBody()
    <div class="footer">
    <div class="container">
        <div class="col-md-6 mrg1">
            <div class="col-md-6 brk4">
                <div class="about">
                    <h4>Enlaces de interes</h4>
                    <ul>
                        <li><a href="https://es-es.facebook.com/HappyPuppyBta">Happy Puppy</a></li>
                        <li><a href="https://www.facebook.com/redamoranimal">Red de Amor Animal</a></li>
                        <li><a href="https://es-la.facebook.com/huellasadiestramientocaninol">Huellas Adiestramiento Canino</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 brk4">
                <div class="advice">
                    <h4>Páginas por visitar</h4>
                    <ul>
                        <li><a href="http://www.registrocivildemascotas.co/">Registro civil de mascotas</a></li>
                        <li><a href="http://dover.com.co/viaje-con-su-mascota/">Viaja con tu mascota</a></li>
                        <li><a href="http://www.elmundodelperro.net/">El Mundo del Perro</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-3 brk5">
            <div class="follow-us">
                <h4>Redes Sociales</h4>
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank" class="fb"></a></li>
                    <li><a href="https://twitter.com/?lang=es" target="_blank" class="twt"></a></li>
                    <li><a href="https://plus.google.com/" target="_blank" class="gpls"></a></li>
                    <li><a href="https://es.pinterest.com/" target="_blank" class="pint"></a></li>
                    <li><a href="https://co.linkedin.com/nhome/" target="_blank" class="lnkdin"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 brk5">
            <div class="copy-rt">
                <h4>COPYRIGHT</h4>
                <p> <a href="Default.cshtml" target="_blank">Clinica Veterinaria</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--footer-->
<!---->
<script type="text/javascript">
    $(document).ready(function () {
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    </body>
</html>