﻿@{
    Layout = "~/_SiteLayout.cshtml";
}


<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">

        <div class="col-lg-4">

        </div>
        <div class="col-lg-4" align="center">

            <form class="form-signin">
                <img src=" images\login.png" alt="Generic placeholder image" width="350" height="300" class="img-rounded">
                <h2>Buscar Mascota</h2>
                <label for="text" class="sr-only">Buscar mascota</label>
                <input type="text" id="buscar" class="form-control" placeholder="Buscar" required autofocus>
                <br />

                <div class="checkbox"></div>

                <input class="btn btn-danger" type="submit" value="Buscar" onclick=" location.href='Modificar_mascota'">
                                    
                                
            </form>

        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div> 
<script src="Scripts/ie10-viewport-bug-workaround.js"></script>

<br />
<br />



