﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Clinica Veterinaria";
}
<!--header-ends-->
<!--content-->
<div class="about-pg">
</div>
<div class="our-products">
    <div class="container">
        <div class="Quienes-somos">
            <div class="col-md-6 tt">
                <ul class="traits-text">
                    <li>
                        <p align="justify">
                            El Centro Clinico +kotas PetShop es una entidad que presta servicios médicos veterinarios y complementarios 
                            para la atencion de pequeñas especies; con el objetivo de satisfacer la expectativas de los clientes y brindar el mejor servicio a través de un personal idóneo y capacitado para atender cualquier eventualidad que se presente al paciente.
                            <br>
                        <p align=center><strong>Tu amigo más fiel merece lo mejor</strong></p>
                    </li>
                </ul>
                <span><a href="quienes.cshtml"  class="btn btn-danger bt" role="button" >Mas...</a></span>
            </div>
            <div class="col-md-5 tt">
                <div class="traits-logos">
                    <div class="col-xs-6 col-md-6 tt brk2">
                        <img src="./images/09.jpg" alt="cat" align="right" class="img-responsive">
                    </div>
                    <div class="col-xs-6 col-md-6 tt brk2">
                        <img src="./images/07.jpg" alt="cat" align="right" class="img-responsive">
                    </div>
                    <div class="col-xs-6 col-md-6 tt brk2">
                        <img src="./images/06.jpg" alt="cat" align="right" class="img-responsive">
                    </div>
                    <div class="col-xs-6 col-md-6 tt brk2">
                        <img src="./images/08.jpg" alt="cat" align="right" class="img-responsive">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="products-gallery">
            <h2>Nuestros Servicios</h2>
            <div class="col-md-3 arr">
                <div class="bg">
                    <img src="./images/25.jpg" alt="pet" class="img-responsive">
                    <span class="glyphicon glyphicon-heart pst" aria-hidden="true"></span>
                    <div class="caption">
                        <h3>Urgencias</h3>
                        <p>Para El Centro Clinico +kotas PetShop siempre es importante que...</p>
                        <p><a href="servicios.cshtml" class="btn btn-danger" role="button">Mas...</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 arr">
                <div class="bg">
                    <img src="./images/41.jpg" alt="pet" class="img-responsive">
                    <span class="glyphicon glyphicon-heart pst" aria-hidden="true"></span>
                    <div class="caption">
                        <h3>Consultas</h3>
                        <p>Nuestra clinica se apoya en el diagnóstico de especialistas en...</p>
                        <p><a href="servicios.cshtml" class="btn btn-danger" role="button">Mas...</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 arr">
                <div class="bg">
                    <img src="./images/27.jpg" alt="pet" class="img-responsive">
                    <span class="glyphicon glyphicon-heart pst" aria-hidden="true"></span>
                    <div class="caption">
                        <h3>Peluqueria</h3>
                        <p>Al igual que las personas, nuestros pequeños integrantes de la familia...</p>
                        <p><a href="servicios.cshtml" class="btn btn-danger" role="button">Mas...</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 arr">
                <div class="bg">
                    <img src="./images/29.jpg" alt="pet" class="img-responsive">
                    <span class="glyphicon glyphicon-heart pst" aria-hidden="true"></span>
                    <div class="caption">
                        <h3>Guarderia</h3>
                        <p>Contamos con un sitio cómodo para su mascota con atencion permanente...</p>
                        <p><a href="servicios.cshtml" class="btn btn-danger" role="button">Mas...</a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!--content-ends-->
<!--brand-logos-->
<div class="brand-logo">
    <div class="container">
        <div class="col-xs-6 col-md-3 brk3">
            <a href=""><img src="./images/p.png" alt="" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-md-3 brk3">
            <a href=""><img src="./images/g.png" alt="" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-md-3 brk3">
            <a href=""><img src="./images/t.png" alt="" class="img-responsive" /></a>
        </div>
        <div class="col-xs-6 col-md-3 brk3">
            <a href=""><img src="./images/s.png" alt="" class="img-responsive" /></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--brand-ends-->
<!--footer-->
