﻿@{
    Layout = "~/_SiteLayout.cshtml";
}


<div class="container marketing">
    <!-- Three columns of text below the carousel -->

    

    <div class="row" align="center">

        <div class="col-lg-4">
            
            <a href="registrar_mascota" target="_blank"><center><img class="img-rounded" src="images\dog.jpg" alt="Generic placeholder image" width="300" height="200"></center></a>
            <h3>Registrar</h3>

        </div>

        <div class="col-lg-4">

            <a href="buscar_mascota" target="_blank"><center><img class="img-rounded" src="images\t.png" alt="Generic placeholder image" width="250" height="200"></center></a>
            <h3>Modificar datos</h3>

        </div>

        <div class="col-lg-4">
            <a href="buscar" target="_blank"><center><img class="img-rounded" src="images\20.jpg" alt="Generic placeholder image" width="300" height="200"></center></a>
            <h3>Consultar</h3>

        </div>

    </div>

    <br />
    <br />
    <br />

</div>
