﻿@{
    Layout = "~/_SiteLayout.cshtml";
}



<div class="row featurette">
    <div class="col-md-4 col-md-push-2" align="center">
        <h2> Registrar</h2>
        <a href="registrar_propi" target="_blank"><center><img class="img-rounded" src="images\r.png" alt="Generic placeholder image" width="250" height="200"></center></a>

    </div>

    <div class="col-md-4 col-md-push-2" align="center">
        <h2> Modificar</h2>
        <a href="modificar_propi" target="_blank"><center><img class="img-rounded" src="images\mo.jpg" alt="Generic placeholder image" width="250" height="200"></center></a>

    </div>
</div>

<br />

<br />
