﻿@{


    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Clinica Veterinaria";
   
}



    <div class="row">

        <div class="col-lg-4">

        </div>
        <div class="col-lg-4" align="center">


            <form method="post">
                <img src=" images\mo.jpg" alt="Generic placeholder image" width="300" height="250" class="img-rounded">
                <h3>Modificar Datos del Propietario</h3>
                <label for="text" class="sr-only">Nombre</label>
                <input type="text" id="nombre" class="form-control" placeholder="Nombre" required autofocus>
                <br />
                <label for="text" class="sr-only">Identificación</label>
                <input type="text" id="identificacion" class="form-control" placeholder="Identificación" required autofocus>
                <br />
                <label for="text" class="sr-only">Edad</label>
                <input type="text" id="edad" class="form-control" placeholder="Edad" required autofocus>
                <br />
                <label for="text" class="sr-only">Correo</label>
                <input type="text" id="correo" class="form-control" placeholder="Correo" required autofocus>
                <br />
                <label for="text" class="sr-only">Direccion</label>
                <input type="text" id="Direccion" class="form-control" placeholder="Dirección" required autofocus>
                <br />
                <label for="text" class="sr-only">Telefono</label>
                <input type="text" id="Telefono" class="form-control" placeholder="Teléfono" required autofocus>
                <br />

                <div class="checkbox"></div>

                <input class="btn btn-danger" type="submit" value="Modificar">


            </form>

        </div>
        <div class="col-lg-4">

        </div>
    </div>

<script src="js/ie10-viewport-bug-workaround.js"></script>

<br />
<br />

