﻿<!doctype html>
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Clinica Veterinaria";
}
<html>
	<head>
		<title>Quienes</title>
	</head>
	<body>
            <div class="about-pg">
                <h3>Quienes Somos</h3>
                <div class="about-pg">
                </div>
            </div>
                    <div class="container">
                        <div class="col-md-6 lt">
                            <div class="choose-us">
                                <h2 align ="center">¿POR QUÉ ELEGIRNOS?</h2>
                                <br />
                                <p align="justify">
                                    Centro Clínico +kotas PetShop es una entidad que presta servicios médicos veterinarios y complementarios para la atencion de pequeñas especies; con el objetivo de satisfacer la expectativas de los clientes y brindar el mejor servicio a través de un personal idóneo y capacitado para atender cualquier eventualidad que se presente al paciente.
                                    <br>
                                    <br>
                                    Actualmente somos una empresa sólida que día a día trabaja por el bienestar de las familias y de sus mascotas. Nuestro compromiso es mantener el liderazgo en el sector ofreciendo una mejor calidad de vida a las mascotas de las familias a través de las diversas especialidades médicas veterinarias que ofrece nuestra entidad.
                                    <br />
                                </p>
                                <br />
                                <div align="center">
                                    <img src="./images/18.jpg" alt="" title="" class="img-responsive" />
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="col-md-6 lt">
                            <div class="few-words">
                                 <h2 align="center">NUESTRO EQUIPO</h2>
                                <div align="center">
                                    <img src="./images/ss.jpg" alt="" title="" class="img-responsive" />
                                <br />
                                </div>

                                <div class="clear all"></div>
                                <p align="justify">Contamos con un equipo de trabajo idóneo, con principios éticos y morales solidos; 
                                comprometidos en poner a su disposición el conocimiento y la experiencia que contribuya al crecimiento y mejoramiento del buen desarrollo físico y mental de su mascota.
                                   
                                <br />
                                <br />Nuestro equipo médico, está en condiciones de prestar los servicios de:

                                    Medicina Preventiva, Cirugía  General, Emergencias Veterinarias, Tratamientos Médicos y
                                    Especialidades Veterinarias.</p>

                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                
        
	</body>
</html>
