﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Clinica Veterinaria";
       
}


    <div class="row">

        <div class="col-lg-4">

        </div>
        <div class="col-lg-4" align="center">


            <form method="post">
                <img src=" images\dog.jpg" alt="Generic placeholder image" width="400" height="250" class="img-rounded">
                <h2>Registrar Mascota</h2>
                <label for="text" class="sr-only">Nombre</label>
                <input type="text" id="nombre" class="form-control" placeholder="Nombre" required autofocus>
                <br />
                <label for="text" class="sr-only">Edad</label>
                <input type="text" id="edad" class="form-control" placeholder="Edad" required autofocus>
                <br />
                <label for="text" class="sr-only">Color</label>
                <input type="text" id="color" class="form-control" placeholder="Color" required autofocus>
                <br />
                <label for="text" class="sr-only">Especie</label>
                <input type="text" id="Especie" class="form-control" placeholder="Especie" required autofocus>
                <br />
                <label for="text" class="sr-only">Raza</label>
                <input type="text" id="raza" class="form-control" placeholder="Raza" required autofocus>
                <br />

                <div class="checkbox"></div>

                <input class="btn btn-danger" type="submit" value="Registrar">


            </form>

        </div>
        <div class="col-lg-4">

        </div>
    </div>


<script src="js/ie10-viewport-bug-workaround.js"></script>

<br />
<br />


