﻿<!Doctype html>
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Clinica Veterinaria";
    
   
}
<html>
	<head>
		<title>Servicios</title>
	</head>
	<body>
		
			<div class="about-pg">
			<h3><strong>Nuestros Servicios</strong></h3>
                <div class="about-pg">
                </div>
            </div>
                    <div class="container">
                        <div class="choose-us">
                            <ul>
                                <li class="text-ul">
                                    <div class="folt">
                                        <h2>Urgencias</h2>
                                        <br />
                                        <p align="justify">
                                            <img src="images/25.jpg" align="right">
                                            </ br>Para El Centro Clinico +kotas PetShop siempre es importante que puedas hacer conexión de asesoría en caso de cualquier urgencia que se presente, es por ello que brindamos nuestros servicios las 24 horas del día 
                                            y contamos con equipos especializados en el manejo de pacientes en estado crítico que nos permitan la estabilización y la intervención quirúrgica en caso de requerirlo el paciente.
                                            Contamos para esto con personal médico interdisciplinario calificado para una mejor atención de consulta externa y de urgencias de pequeños animales de día y de noche, días normales y festivos, 
                                            apoyados por una infraestructura y equipos especializados para dicha labor.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="text-ul">
                                    <div class="folt">
                                        <h2>Consulta Especializada</h2>
                                        <p align="justify">
                                            <img src="images/41.jpg" align="right">
                                            <br>Nuestra clínica se apoya en el diagnóstico de especialistas en asistencia técnica,cirugias, dermatología, medicamentos, ortopedia y medicina interna de ayuda diagnostica que nos permite estar más comprometidos con el diagnóstico de tu mascota.
                                            En nuestra consulta veterinaria especializada tu mascota será examinada de manera exhaustiva revisando su estado físico; nos encargamos  de  tomar todas sus constantes para determinar cualquier tipo de patología presente y así sugerir un tratamiento en base a sus hallazgos clínicos y pruebas de diagnostico complementarias. 
                                            El seguimiento a nuestros pacientes se realizarán a través de tres controles que serán programados sin costo adicional hasta dar por terminado el proceso; tenemos un sistema adecuado para la recolección de historias clínicas llevando paso a paso las citas de tu mascota.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="text-ul">
                                    <div class="folt">

                                        <h2>Peluqueria</h2>
                                        <p align="justify">

                                            <img src="images/27.jpg" align="right">
                                            <br>Al igual que las personas, nuestros pequeños integrantes de la familia necesitan de atención regular para verse y sentirse bien. Tanto los perros como los gatos necesitan un arreglo, estético, regular, que incluye todas las partes de su cuerpo.
                                            Nuestro personal de peluquería canina será el encargado de dejar hermosa y aseada a tu mascota.

                                            <br />El servicio de peluquería para perros incluye los siguientes items:

                                            <br>- Corte de pelo según la raza.
                                            <br>- Baño.
                                            <br>- Corte de uñas.
                                            <br>- Limpieza de oídos.
                                            <br>- Enjuague bucal.
                                            <br>- Pañoleta o moños.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                                <li class="text-ul">
                                    <div class="folt">
                                        <h2>Guarderia</h2>
                                        <p align="justify">
                                            <img src="images/29.jpg" align="right">
                                            <br />Contamos con un sitio cómodo para tu mascota con atención permanente para que este seguro y feliz, enun ambiente cálido; escuchamos y asesoramos a nuestros clientes para identificar y definir según el comportamiento de la mascota 
                                            el lugar donde será alojado para garantizar que el tiempo de hospedaje en nuestra institución sea semejante a la comodidad donde habitualmente reside la mascota; puedes acomodar los horarios como tu prefieras para la estancia en nuestra 
                                            guardería canina por: Días, semanas y meses.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
	</body>
</html>
