﻿@{
    Layout = "~/_SiteLayout.cshtml";
}



<div class="row featurette">
    <div class="col-md-4 col-md-push-2" align="center">
        <h2> Propietario</h2>
        <a href="empty" target="_blank"><center><img class="img-rounded" src="images\pro.png" alt="Generic placeholder image" width="300" height="200"></center></a>

    </div>

    <div class="col-md-4 col-md-push-2" align ="center">
        <h2> Mascota</h2>
        <a href="Empty2" target="_blank"><center><img class="img-rounded" src="images\mas.jpg" alt="Generic placeholder image" width="300" height="200"></center></a>  
    </div>
</div>
<br />
<br />